<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>items</key>
		<array>
			<dict>
				<key>assets</key>
				<array>
					<dict>
						<key>kind</key>
						<string>software-package</string>
						<key>url</key>
						<string>https://vc.gaofeicm.cf/d/home/app/Assistant.ipa?sign=1_L1Jim8Bdn5UodsHgBuBRAKVeAyma0OsD3-nCWf4ns=:0</string>
					</dict>
					<dict>
                        <key>kind</key>
                        <string>full-size-image</string>
                        <key>needs-shine</key>
                        <true/>
                        <key>url</key>
                        <string>https://fs-im-kefu.7moor-fs1.com/29397395/4d2c3f00-7d4c-11e5-af15-41bf63ae4ea0/1698029968027/assistant.png</string>
                    </dict>
                    <dict>
                        <key>kind</key>
                        <string>display-image</string>
                        <key>needs-shine</key>
                        <true/>
                        <key>url</key>
                        <string>https://fs-im-kefu.7moor-fs1.com/29397395/4d2c3f00-7d4c-11e5-af15-41bf63ae4ea0/1698029968027/assistant.png</string>
                    </dict>
				</array>
				<key>metadata</key>
				<dict>
					<key>bundle-identifier</key>
					<string>com.gaofeicm.assistant</string>
					<key>bundle-version</key>
					<string>1.0.0</string>
					<key>kind</key>
					<string>software</string>
					<key>title</key>
					<string>Assistant</string>
				</dict>
			</dict>
		</array>
	</dict>
</plist>